<ion-view title="Alteração de Dependentes" hide-back-button="true" id="page13" class="pull-left dark">
    <ion-content padding="true" class="has-header">
        <div>
            <style>
                .margin-zero{
                    margin:0px !important;
                }
                .foto-cadastro{
                    width: 200px;height: 200px;overflow: hidden;position: relative;left:18%;
                    top:0px;border-top:none;
                }
                .foto-cadastro img {
                    position: absolute;
                    margin: auto; 
                    min-height: 100%;
                    min-width: 100%;
                
                    /* For the following settings we set 100%, but it can be higher if needed 
                    See the answer's update */
                    left: -100%;
                    right: -100%;
                    top: -72%;
                    bottom: -100%;
                }
            </style>
        </div>
        <div class="list card margin-zero" id="alteraDependentes-card27">
            <form id="alteraDependentes-form15" class="list">
                <label class="item item-input" id="alteraDependentes-input26" name="nome">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Maria da Silva">
                </label>
                <label class="item item-input" id="alteraDependentes-input27" name="telefone">
                    <span class="input-label">Telefone</span>
                    <input type="text" placeholder="(61)99999-9999">
                </label>
                <label class="item item-select margin-zero" id="alteraDependentes-select1" name="relacao">
                    <span class="input-label">Relação</span>
                    <select>
                        <option>Cônjuge</option>
                        <option>Filho(a)</option>
                        <option>Irmã(o)</option>
                        <option>Amigo(a)</option>
                        <option>Pai</option>
                        <option>Mãe</option>
                    </select>
                </label>
            </form>
            <div>
                <br>
                <center>
                    <img src="/img/avatar-img.png" class="radius margin-zero" style="width:50%;height:auto;">
                </center>
                <br>
            </div>
            <button id="alteraDependentes-button13" class="button button-positive  button-block icon ion-android-camera margin-zero"></button>
        </div>
        <div id="alteraDependentes-button-bar15" class="button-bar">
            <button id="alteraDependentes-button41" style="text-align:left;" class="button button-balanced button-large button-block button-clear icon-left ion-trash-b margin-zero">Remover</button>
            <button id="alteraDependentes-button43" style="text-align:right;" class="button button-calm button-large button-block button-clear icon-right ion-checkmark-round margin-zero">Salvar</button>
        </div>
    </ion-content>
</ion-view>