<ion-view title="Cancelar Convite" id="page16" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="has-header">
        <div id="cancelarConvite-markdown10" style="color:#1E95A8;font-size:21px;text-align:center;">
            <p>Fulano de Tal</p>
        </div>
        <div>
            <br>
            <center>
                <img src="https://creator.ionic.io/img/avatar-img.png" class="radius" style="width:50%;height:auto;">
            </center>
            <br>
        </div>
        <div id="cancelarConvite-button-bar9" class="button-bar">
            <a ui-sref="tabsController.registrarVisita" id="cancelarConvite-button28" style="font-size:19px;" class="button button-positive button-large button-block button-outline icon-right ion-android-cancel">Cancelar convite</a>
        </div>
    </ion-content>
</ion-view>