<ion-view title="Dependentes Cadastrados" hide-back-button="true" id="page12" class="pull-left dark">
    <ion-content padding="true" class="has-header">
        <div>
            <style>
                .margin-zero{
                    margin:0px !important;
                }
                .foto-cadastro{
                    width: 200px;height: 200px;overflow: hidden;position: relative;left:18%;
                    top:0px;border-top:none;
                }
                .foto-cadastro img {
                    position: absolute;
                    margin: auto; 
                    min-height: 100%;
                    min-width: 100%;
                
                    /* For the following settings we set 100%, but it can be higher if needed 
                    See the answer's update */
                    left: -100%;
                    right: -100%;
                    top: -72%;
                    bottom: -100%;
                }
            </style>
        </div>
        <form id="dependentesCadastrados-form13" class="list">
            <label class="item item-input" name="pesquisar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder=" Selecione o dependente">
            </label>
            <ion-item class="item-avatar balanced" id="dependentesCadastrados-list-item107" ui-sref="alteraDependentes">
                <h2balanced>Maria da Silva
                    <p>Companheira</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="dependentesCadastrados-list-item111" ui-sref="alteraDependentes">
                <h2balanced>Fulano de Tal
                    <p>Filho</p>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar balanced" id="dependentesCadastrados-list-item112" ui-sref="alteraDependentes">
                <h2balanced>Fulana de Tal
                    <p>Filha</p>
                </h2balanced>
            </ion-item>
        </form>
    </ion-content>
</ion-view>