<ion-view title="Info - Convite" id="page24" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="has-header">
        <div id="infoConvite-markdown6" style="color:#000000;font-size:13px;">
            <h3>Convite Profissional:</h3>

            <hr>

            <h5>O Morador deverá:</h5>

            <p>
                <strong></strong>&gt; informar o tipo do serviço prestado no momento do envio do convite</p>

            <p>
                <strong></strong>&gt; informar o período de duração do serviço, permitindo utilização do ticket até esta data</p>

            <p>
                <strong></strong>&gt; avaliar do serviço no final do período</p>

            <hr>

            <h5>O prestador deverá:</h5>

            <p>
                <strong></strong>&gt; informar se ele deseja divulgar o seu contato a outros usuários do APP, antes que ele visualize o
                <strong>QRCODE</strong>(serviço gratuito num primeiro momento).</p>

            <p>
                <strong></strong>&gt;&gt; se sim, o app irá disponibilizar o contato do Prestador</p>
        </div>
        <button id="infoConvite-button35" style="text-align:right;" class="button button-positive button-large button-clear icon ion-ios-arrow-back margin-zero">Voltar</button>
    </ion-content>
</ion-view>