<ion-view title="Liberação enviada" id="page10">
    <ion-content padding="true" class="has-header">
        <div id="liberaOEnviada-markdown3" style="color:#000000;">
            <p>O
                <strong>código de liberação</strong>foi enviado com sucesso para
                <a href="">Fulano de Tal</a>.</p>
        </div>
        <div id="liberaOEnviada-button-bar6" class="button-bar">
            <a ui-sref="tabsController.registrarVisita" id="liberaOEnviada-button10" style="text-align:left;" class="button button-positive button-large button-block button-clear icon-left ion-ios-arrow-back">Voltar</a>
        </div>
    </ion-content>
</ion-view>