<ion-view title="Pessoal" id="page14" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="item range margin-zero dark" style="border:none;">
                <span>Pessoal</span>
                <input type="range" value="0" min="0" max="1">
                <span>Profissional</span>
            </div>
            <style>
                .range span{ color:#595959; font-weight:bold; font-size:18px; }
                input[type="range"]::-webkit-slider-thumb {
                top: -1px;
                width: 41px;
                height: 31px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 14px;
                background-color: #87CC31;
                border:solid 10px #333333;
                /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));*/
            }
            </style>
        </div>
        <div class="spacer" style="width: 300px; height: 35px;"></div>
        <div id="pessoal-markdown12" style="color:#1E95A8;font-size:21px;text-align:center;">
            <p>{{vm.contato.name.givenName}}</p>
        </div>
        <div>
            <br>
            <center>
                <img src="https://creator.ionic.io/img/avatar-img.png" class="radius" style="width:50%;height:auto;" ng-if="!vm.contato.photos[0]">
                <img ng-src="{{vm.contato.photos[0].value}}" class="radius" style="width:50%;height:auto;" ng-if="vm.contato.photos[0]">
            </center>
            <br>
        </div>
        <div id="pessoal-button-bar11" class="button-bar">
            <a id="pessoal-button40" style="font-size:19px;" class="button button-large button-block button-outline icon-right button-positive ion-checkmark-round" ng-show="vm.contato.status == 1 && vm.contato.possuiApp" ng-click="vm.confirmar()">Confirmar</a>
            <a id="pessoal-button40" style="font-size:19px;" class="button button-large button-block button-outline icon-right button-positive ion-checkmark-round" ng-show="vm.contato.status == 1 && !vm.contato.possuiApp" ng-click="vm.shareAnywhere()">Confirmar</a>
            <a id="pessoal-button40" style="font-size:19px;" class="button button-large button-block button-outline icon-right ion-close button-balanced" ng-show="vm.contato.status != 1" ng-click="vm.cancelar()">Cancelar</a>
        </div>
    </ion-content>
</ion-view>
