<ion-view title="Profissional" id="page29" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="has-header">
        <div id="profissional-markdown13" style="color:#1E95A8;font-size:21px;text-align:center;" class="margin-zero">
            <p>Fulano de Tal</p>
        </div>
        <div>
            <center>
                <img src="https://creator.ionic.io/img/avatar-img.png" class="radius" style="width:50%;height:auto;">
            </center>
        </div>
        <div class="list card margin-zero bg-dark" id="profissional-card21">
            <form id="profissional-form19" class="list">
                <div>
                    <div class="item range margin-zero" style="border:none;">
                        <span>Pessoal</span>
                        <input type="range" value="1" min="0" max="1">
                        <span>Profissional</span>
                    </div>
                    <style>
                        .range span{ color:#595959; font-weight:bold; font-size:18px; }
                        input[type="range"]::-webkit-slider-thumb {
                        top: -1px;
                        width: 41px;
                        height: 31px;
                        -webkit-border-radius: 10px;
                        -moz-border-radius: 10px;
                        border-radius: 14px;
                        background-color: #87CC31;
                        border:solid 10px #333333;
                        /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebf1f6), color-stop(50%,#abd3ee), color-stop(51%,#89c3eb), color-stop(100%,#d5ebfb));*/
                    }
                    </style>
                </div>
                <button id="profissional-button50" style="color:#747474;text-align:left;border-radius:0px 0px 0px 0px;" class="button button-light button-large button-block icon-right ion-android-calendar margin-zero bg-dark">Duração
                    <span style="float:right;font-size:13px;color:#888;">99/99/9999</span>
                </button>
                <label class="item item-input margin-zero input-text" id="profissional-input20" name="empresa">
                    <span class="input-label">Empresa</span>
                    <input type="text" placeholder="nome da empresa">
                </label>
                <label class="item item-input margin-zero input-text" id="profissional-input20" name="profissao">
                    <span class="input-label">Profissão</span>
                    <input type="text" placeholder="Ex: mestre de obras">
                </label>
                <label class="item item-input margin-zero input-text" id="profissional-input14" name="servico">
                    <span class="input-label">Serviço</span>
                    <input type="text" placeholder="Ex: Instalação de Piso">
                </label>
            </form>
        </div>
        <div id="profissional-button-bar12" class="button-bar">
            <a ui-sref="tabsController.liberaOEnviada" id="profissional-button44" style="font-size:19px;border-radius:10px 10px 10px 10px;" class="button button-positive button-large button-block button-outline icon-right ion-checkmark-round">Confirmar</a>
        </div>
        <div>
            <style>
                .input-text span{font-size:19px; color:#595959 !important;}
                .input-text input{font-size:16px;padding-right:20px !important;}
            </style>
        </div>
    </ion-content>
</ion-view>