<ion-view title="Registrar Visita" id="page27" class="dark">
    <ion-content padding="true" class="has-header">
      <label class="item item-input" name="pesquisa">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Localize o Visitante">
      </label>
        <ion-list id="registrarVisita-list13">
            <ion-item class="item-avatar item-icon-right calm" id="registrarVisita-list-item96" ng-repeat="contato in vm.contatos"  ng-click="vm.action(contato)">
                <img src="https://creator.ionic.io/img/avatar-img.png" alt="" ng-if="!contato.photos[0]" />
                <img ng-src="{{contato.photos[0].value}}" alt="" ng-if="contato.photos[0]"/>
                <h2calm>{{contato.name.givenName}} {{contato.status}}
                    <p ng-if="contato.status == 1">Enviar Convite</p>
                    <p ng-if="contato.status == 2">Convite Enviado</p>
                    <p ng-if="contato.status == 3">Convite Recebido</p>
                    <i class="icon" ng-class="{'ion-android-done-all': contato.status == 3, 'icon ion-android-done': contato.status == 2, 'ion-android-send': contato.status == 1}"></i>
                </h2calm>
            </ion-item>
        </ion-list>
        <div>
            <style>
                ion-item{background-color:#eef7ff !important;}
                i.icon::before{
                font-size:30px !important;
                }
                button{
                    padding-top:5px !importan;
                }
                form label.item-select{padding:0px 15PX;}
                form{margin-bottom:-7px !important;}
            </style>
        </div>
        <a ui-sref="tabsController.pessoal" id="registrarVisita-button38" class="button button-positive  button-block hide">Tap me!</a>
    </ion-content>
</ion-view>
