<ion-view title="Tickets Recebidos" id="page9" class="black">
    <ion-content padding="true" class="has-header">
        <!-- <div>
            <style>
                .margintop0{margin-top:-9px !important;}
            </style>
        </div> -->
        <div style="margin-right:-20px;" ng-repeat="convite in vm.convites">
            <button id="ticketsRecebidos-button34"
              style="left:-10px;font-weight:500;color:#7DD22F;font-size:17px;text-align:left;"
              class="button button-dark  button-full icon-right"
              ng-class="{'ion-android-arrow-dropup': convite.apresenta, 'ion-android-arrow-dropdown': !convite.apresenta}"
              ng-click="convite.apresenta = !convite.apresenta">
               Destino: {{convite.nome_morador}}
             </button>
            <div id="ticketsRecebidos-markdown2" class="white" ng-show="convite.apresenta">
              <qrcode version="10" error-correction-level="L" size="200" data="{{convite.token}}"></qrcode>
            </div>
        </div>

        <!-- <button id="ticketsRecebidos-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block button-outline icon-left ion-ios-location margin-zero">Abrir localização no Mapa</button> -->
    </ion-content>
</ion-view>
