<ion-view title="Trocar Síndico" id="page15" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="has-header">
        <button id="trocarSNdico-button48" class="button button-positive button-large button-block button-outline icon-right ion-checkmark-round">Confirmar</button>
        <div style="margin-right:-20px;">
            <button id="trocarSNdico-button26" style="left:-10px;color:#7DD22F;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Síndico é morador</button>
        </div>
        <form id="trocarSNdico-form9" class="list">
            <label class="item item-input" name="pesquisar">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Fulano d...">
            </label>
            <ion-item class="item-avatar" id="trocarSNdico-list-item77">
                <h2>Fulano de Tal</h2>
                <p>Rua H Casa 10</p>
            </ion-item>
            <ion-item class="item-avatar" id="trocarSNdico-list-item80">
                <h2>Fulano de Tal</h2>
                <p>Rua H Casa 10</p>
            </ion-item>
        </form>
        <div style="margin-right:-20px;">
            <button id="trocarSNdico-button27" style="left:-10px;color:#7DD22F;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Não é morador
                <span style="color:silver;font-size:11px">( cadastrar )</span>
            </button>
        </div>
        <form id="trocarSNdico-form10" class="list">
            <label class="item item-input" id="trocarSNdico-input16" name="nome">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="informe o nome">
            </label>
            <label class="item item-input" id="trocarSNdico-input17" name="telefone">
                <span class="input-label">Telefone</span>
                <input type="text" placeholder="(99)99999-9999">
            </label>
            <div class="list card margin-zero" id="trocarSNdico-card24">
                <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
                <div style="margin-right:-20px;">
                    <button id="trocarSNdico-button33" style="left:-10px;" class="button button-positive  button-full icon ion-android-camera margin-zero"></button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>