<ion-view title="Validar Porteiros" id="page18" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="has-header">
        <div style="margin-right:-20px;">
            <button id="validarPorteiros-button20" style="left:-10px;color:#7DD22F;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Pendentes
                <span style="font-size:10px;color:silver">( autorizar porteiro )</span>
            </button>
        </div>
        <ion-list id="validarPorteiros-list10">
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item61">
                <h2positive>Severino da Silva
                    <i class="icon ion-android-checkbox-outline"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item62">
                <h2positive>Severino da Silva
                    <i class="icon ion-android-checkbox-outline-blank"></i>
                </h2positive>
            </ion-item>
        </ion-list>
        <div style="margin-right:-20px;">
            <button id="validarPorteiros-button21" style="left:-10px;color:#7DD22F;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Autorizados
                <span style="font-size:10px;color:silver">( cancelar autorização )</span>
            </button>
        </div>
        <ion-list id="validarPorteiros-list11">
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item66">
                <h2positive>Severino da Silva
                    <i class="icon ion-close-round"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item74">
                <h2positive>Severino da Silva
                    <i class="icon ion-close-round"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item75">
                <h2positive>Severino da Silva
                    <i class="icon ion-close-round"></i>
                </h2positive>
            </ion-item>
        </ion-list>
        <div style="margin-right:-20px;">
            <button id="validarPorteiros-button24" style="left:-10px;color:#7DD22F;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Cancelados
                <span style="font-size:10px;color:silver">( excluir porteiro )</span>
            </button>
        </div>
        <ion-list id="validarPorteiros-list12">
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item70">
                <h2positive>Item
                    <i class="icon ion-trash-b"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="validarPorteiros-list-item76">
                <h2positive>Item
                    <i class="icon ion-trash-b"></i>
                </h2positive>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>