<ion-view title="Cadastro Portaria" hide-back-button="true" id="page4" style="background-color:#000000;">
    <ion-content padding="true" class="has-header">
        <form id="cadastroPortaria-form10" class="list">
            <hr>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Selecionar Condomínio">
            </label>
            <label class="item item-input clear" id="cadastroPortaria-input8">
                <span class="input-label">Nome</span>
                <input type="text" placeholder="Fulano de Tal">
            </label>
            <label class="item item-input clear" id="cadastroPortaria-input9">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="********">
            </label>
            <hr>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <button id="cadastroPortaria-button17" style="border-radius:0px 0px 0px 0px;" class="button button-energized  button-block icon ion-android-camera margin-zero"></button>
            <hr>
            <div id="cadastroPortaria-button-bar2" class="button-bar">
                <a ui-sref="selecioneOSeuPapel" id="cadastroPortaria-button18" style="border-radius:2px 2px 2px 2px;" class="button button-calm button-large button-clear icon-left ion-arrow-left-c">Voltar</a>
                <a ui-sref="cadastroEfetuadoComSucesso" id="cadastroPortaria-button19" style="border-radius:2px 2px 2px 2px;" class="button button-assertive button-large button-clear icon-right ion-checkmark-round">Salvar</a>
            </div>
        </form>
    </ion-content>
</ion-view>