<ion-view title="Cadastrar Recepcionista" hide-back-button="true" id="page4" style="background-color:#000000;">
    <ion-content padding="true" class="has-header">
        <form id="cadastroRecepcao-form10" class="list">

            <div class="item item-input item-floating-label" id="cadastrarCondominio-input23" name="cep">
                
                <span class="input-label">
                    <i class="icon ion-search placeholder-icon"></i>
                    Selecionar Condomínio
                </span>
                
                <input type="text" typeahead placeholder="Selecionar Condomínio" proximo="id.nome" data-ng-model="vm.condominio.nome" collection="condominio", field="nome" on-select="vm.obterCondominio">

            </div>

            <label class="item item-input item-floating-label" id="cadastroRecepcao-input8">
                <span class="input-label">Nome do Recepcionista</span>
                <input type="text" placeholder="Nome do Recepcionista" id="id.nome" proximo-campo="id.senha">
            </label>

            <label class="item item-input item-floating-label">
                <span class="input-label">Senha</span>
                <input type="text" placeholder="Senha" id="id.senha">
            </label>

            <br>

            <foto data-ng-model="vm.foto"></foto>
            
            <div id="cadastroRecepcao-button-bar2" class="button-bar">
                <a ui-sref="selecioneOSeuPapel" id="cadastroRecepcao-button18" style="border-radius:2px 2px 2px 2px;" class="button button-calm button-large button-clear icon-left ion-arrow-left-c">Voltar</a>
                <a ui-sref="cadastroEfetuadoComSucesso" id="cadastroRecepcao-button19" style="border-radius:2px 2px 2px 2px;" class="button button-assertive button-large button-clear icon-right ion-checkmark-round">Salvar</a>
            </div>
        </form>
    </ion-content>
</ion-view>
<!--<style>
.imagemCamera{
    margin: 0px; 
    background-color: #252525; 
    text-align: center; 
    border-radius: 6px 6px 0 0;
    min-width: 340px !important;
    min-height: 250px !important;
}
</style>-->