<ion-view title="Cadastro efetuado com sucesso!" hide-back-button="true" id="page5" style="background-color:#000000;">
    <ion-content padding="true" class="has-header">
        <hr>
        <div class="spacer" style="width: 300px; height: 16px;"></div>
        <div id="cadastroEfetuadoComSucesso-markdown2" style="color:#8FCFDF;">
            <blockquote>
                <p>Seu cadastro foi efetuado com sucesso, solicite confIrmação do síndico para começar a usar o APP.</p>
            </blockquote>
        </div>
        <hr>
        <button id="cadastroEfetuadoComSucesso-button23" class="button button-assertive button-large button-block button-clear icon ion-checkmark-round"></button>
    </ion-content>
</ion-view>