<ion-view title="Selecione o seu Papel" hide-back-button="true" id="page2" style="background-color:#000000;">
    <ion-content padding="true" class="has-header">
        <div id="selecioneOSeuPapel-container2">
            <div class="spacer" style="width: 300px; height: 58px;"></div>
            <div style="margin-right:-20px;">
                <a ui-sref="cadastroDeSNdico" id="selecioneOSeuPapel-button8" style="left:-10px;color:#91FF00;border-radius:20px 20px 20px 20px;" class="button button-energized button-large button-full">Síndico</a>
            </div>
            <div style="margin-right:-20px;">
                <a ui-sref="cadastroPortaria" id="selecioneOSeuPapel-button7" style="left:-10px;color:#4A750C;border-radius:20px 20px 20px 20px;" class="button button-stable button-large button-full margin-zero">Portaria</a>
            </div>
        </div>
    </ion-content>
</ion-view>