<ion-view title="Criar Evento" id="page4">
    <ion-content padding="true" class="has-header">
        <div>
            <style>
                ion-item{background-color:#eef7ff !important;}
                i.icon::before{
                    font-size:30px !important;
                }
            </style>
        </div>
        <form id="criarEvento-form6" class="list">
            <label class="item item-input" id="criarEvento-input1">
                <span class="input-label">Data:</span>
                <input type="text" placeholder="31/12/2016">
            </label>
            <label class="item item-input" id="criarEvento-input3">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="Nome do Evento">
            </label>
            <label class="item item-input" id="criarEvento-input2">
                <span class="input-label">Local:</span>
                <input type="text" placeholder="Ex: churrasqueira 1">
            </label>
            <a ui-sref="tabsController.liberaOEnviada" id="criarEvento-button17" style="text-align:right;" class="button button-positive  button-block icon-left ion-android-add-circle">Convidados</a>
            <div>
                <ion-item class="item-avatar item" id="criarEvento-list-item13" data-componentid="list-item13" data-tap-disabled="true">
                    <img src="/img/avatar-img.png">
                    <h2>Fulano de Tal</h2>
                    <p>(99)99999-9999</p>

                    <button id="liberaEs-button2" style="float:right;margin-top:-41px;padding:5px 10px;color:darkred;border:solid 1px;" class="button button-assertive button-small button-outline">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </ion-item>
            </div>
            <div>
                <ion-item class="item-avatar item" id="criarEvento-list-item13" data-componentid="list-item13" data-tap-disabled="true">
                    <img src="/img/avatar-img.png">
                    <h2>Fulano de Tal</h2>
                    <p>(99)99999-9999</p>

                    <button id="liberaEs-button2" style="float:right;margin-top:-41px;padding:5px 10px;color:darkred;border:solid 1px;" class="button button-assertive button-small button-outline">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </ion-item>
            </div>
            <div>
                <ion-item class="item-avatar item" id="criarEvento-list-item13" data-componentid="list-item13" data-tap-disabled="true">
                    <img src="/img/avatar-img.png">
                    <h2>Fulano de Tal</h2>
                    <p>(99)99999-9999</p>

                    <button id="liberaEs-button2" style="float:right;margin-top:-41px;padding:5px 10px;color:darkred;border:solid 1px;" class="button button-assertive button-small button-outline">
                        <i class="icon ion-trash-a"></i>
                    </button>
                </ion-item>
            </div>
            <div id="criarEvento-button-bar4" class="button-bar">
                <button id="criarEvento-button14" class="button button-positive  button-block button-outline icon-left ion-android-arrow-back">Voltar</button>
                <button id="criarEvento-button15" class="button button-positive  button-block button-outline">Excluir</button>
                <button id="criarEvento-button16" class="button button-positive  button-block">Salvar</button>
            </div>
        </form>
    </ion-content>
</ion-view>