<ion-view title="" hide-nav-bar="true" id="page23" style="background-color:#FFFFFF;" class="dark">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="page23-list5">
            <ion-item class="item-icon-right" id="page23-list-item41">WathsApp
                <i class="icon ion-social-whatsapp"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page23-list-item43">SMS
                <i class="icon ion-android-textsms"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page23-list-item42">E-mail
                <i class="icon ion-ios-email-outline"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="page23-list-item44">Facebook Messenger
                <i class="icon ion-social-facebook"></i>
            </ion-item>
        </ion-list>
        <div>
            <style>
                .ion-social-whatsapp{color:#189D0E;}
                .ion-social-facebook{color:#3B5997;}
                .ion-ios-email-outline{color:#D50302;}
            </style>
        </div>
        <a ui-sref="alteraODeDependentes" id="page23-button59" style="text-align:left;" class="button button-calm button-large button-block button-clear icon-left ion-ios-arrow-back">Voltar</a>
    </ion-content>
</ion-view>