<ion-view title="pagina em branco" hide-back-button="true" id="page2" class="pull-left">
    <ion-content padding="false" class="has-header">
        <div>
            <style>
                .margin-zero{
                    margin:0px !important;
                }
                .foto-cadastro{
                    width: 200px;height: 200px;overflow: hidden;position: relative;left:18%;
                    top:0px;border-top:none;
                }
                .foto-cadastro img {
                    position: absolute;
                    margin: auto; 
                    min-height: 100%;
                    min-width: 100%;
                
                    /* For the following settings we set 100%, but it can be higher if needed 
                    See the answer's update */
                    left: -100%;
                    right: -100%;
                    top: -72%;
                    bottom: -100%;
                }
            </style>
        </div>
    </ion-content>
</ion-view>