<ion-view title="Registrar Visita" id="page27" class="dark">
    <ion-content padding="true" class="has-header">
        <ion-list id="registrarVisita-list13">
            <label class="item item-input" name="pesquisa">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Localize o Visitante">
            </label>
            <ion-item class="item-avatar item-icon-right calm" id="registrarVisita-list-item96">
                <h2calm>Fulano de Tal
                    <p>Entrada registrada</p>
                    <i class="icon ion-android-done-all"></i>
                </h2calm>
            </ion-item>
            <ion-item class="item-avatar item-icon-right calm" id="registrarVisita-list-item98">
                <h2calm>Fulano de Tal
                    <p>Entrada registrada</p>
                    <i class="icon ion-android-done-all"></i>
                </h2calm>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="registrarVisita-list-item81" ui-sref="tabsController.cancelarConvite">
                <h2positive>Fulano de Tal
                    <p>Ticket enviado</p>
                    <i class="icon ion-android-done"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="registrarVisita-list-item95" ui-sref="tabsController.cancelarConvite">
                <h2positive>Fulano de Tal
                    <p>Ticket enviado</p>
                    <i class="icon ion-android-done"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right positive" id="registrarVisita-list-item97" ui-sref="tabsController.cancelarConvite">
                <h2positive>Fulano de Tal
                    <p>Ticket enviado</p>
                    <i class="icon ion-android-done"></i>
                </h2positive>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced" id="registrarVisita-list-item89" ui-sref="tabsController.tipoDeVisita">
                <h2balanced>Fulano de Tal
                    <p>(61)99999-9999</p>
                    <i class="icon ion-android-send"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced" id="registrarVisita-list-item103" ui-sref="tabsController.tipoDeVisita">
                <h2balanced>Fulano de Tal
                    <p>(61)99999-9999</p>
                    <i class="icon ion-android-send"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced" id="registrarVisita-list-item104" ui-sref="tabsController.tipoDeVisita">
                <h2balanced>Fulano de Tal
                    <p>(61)99999-9999</p>
                    <i class="icon ion-android-send"></i>
                </h2balanced>
            </ion-item>
            <ion-item class="item-avatar item-icon-right balanced" id="registrarVisita-list-item100" ui-sref="tabsController.tipoDeVisita">
                <h2balanced>Fulano de Tal
                    <p>(61)99999-9999</p>
                    <i class="icon ion-android-send"></i>
                </h2balanced>
            </ion-item>
        </ion-list>
        <div>
            <style>
                ion-item{background-color:#eef7ff !important;}
                i.icon::before{
                font-size:30px !important;
                }
                button{
                    padding-top:5px !importan;
                }
                form label.item-select{padding:0px 15PX;}
                form{margin-bottom:-7px !important;}
            </style>
        </div>
        <a ui-sref="tabsController.pessoal" id="registrarVisita-button38" class="button button-positive  button-block hide">Tap me!</a>
    </ion-content>
</ion-view>