<ion-view title="Tickets Recebidos" id="page9" class="paddingtop0 dark">
    <ion-content padding="true" class="has-header">
        <div>
            <style>
                .margintop0{margin-top:-9px !important;}
            </style>
        </div>
        <div style="margin-right:-20px;">
            <button id="ticketsRecebidos-button34" style="left:-10px;font-weight:500;color:#7DD22F;font-size:17px;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropdown">Destino: Tio João</button>
        </div>
        <div id="ticketsRecebidos-markdown2" style="color:#909090;">
            <p>Codigo:
                <strong>
                    <a href="#/page1/qrcode">JMQ1400001</a>
                </strong>
            </p>
        </div>
        <div>
            <a style="display:block;" ui-sref="tabsController.cDigoDeLiberaO">
                <img src="img/sample.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <button id="ticketsRecebidos-button18" style="border-radius:0px 0px 0px 0px;" class="button button-positive  button-block button-outline icon-left ion-ios-location margin-zero">Abrir localização no Mapa</button>
        <div style="margin-right:-20px;">
            <button id="ticketsRecebidos-button36" style="left:-10px;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropright">Destino: Tiririca</button>
        </div>
        <div style="margin-right:-20px;">
            <button id="ticketsRecebidos-button37" style="left:-10px;text-align:left;" class="button button-dark  button-full icon-right ion-android-arrow-dropright margintop0">Destino: Dona Maria</button>
        </div>
    </ion-content>
</ion-view>