<ion-view title="Tipo de Visita" id="page28" class="pull-left">
    <ion-content padding="true" class="has-header">
        <div>
            <style>
                .margin-zero{
                    margin:0px !important;
                }
                .foto-cadastro{
                    width: 200px;height: 200px;overflow: hidden;position: relative;left:18%;
                    top:0px;border-top:none;
                }
                .foto-cadastro img {
                    position: absolute;
                    margin: auto; 
                    min-height: 100%;
                    min-width: 100%;
                
                    /* For the following settings we set 100%, but it can be higher if needed 
                    See the answer's update */
                    left: -100%;
                    right: -100%;
                    top: -72%;
                    bottom: -100%;
                }
            </style>
        </div>
        <div id="tipoDeVisita-markdown11" style="color:#0887C2;">
            <blockquote>
                <p>Esta Tela não será apresentada no Aplicativo!</p>
            </blockquote>
        </div>
        <a ui-sref="tabsController.pessoal" id="tipoDeVisita-button29" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-balanced button-large button-block button-clear icon-right ion-chevron-right margin-zero">Pessoal</a>
        <a ui-sref="tabsController.profissional" id="tipoDeVisita-button32" style="text-align:left;border-radius:0px 0px 0px 0px;" class="button button-balanced button-large button-block button-clear icon-right ion-chevron-right margin-zero">Profissional</a>
        <div>
            <p>
                Add some
                <b>HTML</b>for
                <u>flavor</u>
            </p>
        </div>
    </ion-content>
</ion-view>